# EmailJS — https://dashboard.emailjs.com
EMAILJS_PUBLIC_KEY=
EMAILJS_PRIVATE_KEY=
EMAILJS_SERVICE_ID=
EMAILJS_OWNER_TEMPLATE_ID=
EMAILJS_CUSTOMER_TEMPLATE_ID=

VITE_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

# Platobné údaje
VITE_STORE_IBAN=
VITE_OWNER_EMAIL=
VITE_STORE_BENEFICIARY_NAME=

# Packeta — https://client.packeta.com/
VITE_PACKETA_API_KEY=

# Kontaktné údaje
VITE_CONTACT_PHONE=
VITE_CONTACT_EMAIL=

# Sociálne siete
VITE_INSTAGRAM_URL=
VITE_FACEBOOK_URL=