VITE_STORE_IBAN=
VITE_OWNER_EMAIL=
VITE_STORE_BENEFICIARY_NAME=

# Packeta — https://client.packeta.com/
VITE_PACKETA_API_KEY=

# Kontaktné údaje
VITE_CONTACT_PHONE=
VITE_CONTACT_EMAIL=

# Sociálne siete
VITE_INSTAGRAM_URL=
VITE_FACEBOOK_URL=
